@charset "utf-8";

$color-ff6700: #ff6700;
$color-000000: #000000;
$color-e2e2e2: #e2e2e2;
$color-f2f2f2: #f2f2f2;
$color-ffffff: #ffffff;
$color-333333: #333333;
$color-666666: #666666;
$color-999999: #999999;
$fonts-common-suffix: 'Helvetica Neue', Tahoma, Arial, PingFangSC-Regular, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;