@charset "utf-8";

:root {
	--color-dc1f34: #dc1f34;
	--color-000000: #000000;
	--color-333333: #333333;
	--fonts-common-suffix: "HelveticaNeue", "Arial", "PingFangSC-Regular", "微软雅黑", "Microsoft YaHei", sans-serif;
}